<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"
		default-lazy-init="true">
	<!-- 实例化占位符对象 -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  	<property name="location" value="classpath:jdbc.properties"/>
  </bean>
  
  <!-- 配置一个数据源 -->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  	<!-- 配置连接属性 -->
  	<property name="driverClass" value="${jdbc.driverClass}"/>
  	<property name="jdbcUrl" value="${jdbc.url}"/>
  	<property name="user" value="${jdbc.user}"/>
  	<property name="password" value="${jdbc.password}"/>
  </bean>
  
  <!-- Spring 整合 Hibernate -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
  
  	<!-- 注入数据源 -->
  	<property name="dataSource" ref="dataSource"/>
  	
  	<!-- 配置 Hibernat 参数 -->
  	<property name="hibernateProperties">
  		<props>
  			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
  			<prop key="hibernate.show_sql">true</prop>
  			<prop key="hibernate.format_sql">true</prop>
  		</props>
  	</property>
  	
  	<property name="packagesToScan">
		<list>
			<value>com.webschool.model</value>
		</list>
	</property>
  </bean>
  
  <!-- Spring 声明式事务 -->
  <!-- 事务管理器 -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
  
  <!-- 事务通知 -->
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
  	<tx:attributes>
  		<!-- 配置事务属性 ， 查询不需要事务 . 所以配置只读事务 . 但是 增删改 都需要对应的事务操作 -->
  		<tx:method name="add*" propagation="REQUIRED"/>
  		<tx:method name="save*" propagation="REQUIRED"/>
  		<tx:method name="delete*" propagation="REQUIRED"/>
  		<tx:method name="update*" propagation="REQUIRED"/>
  		<tx:method name="get*" read-only="true"/>
  		<tx:method name="find*" read-only="true"/>
  	</tx:attributes>
  </tx:advice>
  
  <!-- 配置事务切面 -->
  <aop:config>
  	<!-- 配置切入点 -->
  	<aop:pointcut id="txPoint" expression="execution(* com.webschool.service..*.*(..))"/>
  	<aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>
  </aop:config>
  
  <!-- Hibernate 模板类  HibernateTemplate -->
  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
  	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
	

</beans>
